.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 30px;
  font-family: helvetica;
  border: 2px solid black;
  border-radius: 5px;
}

.App-thead{
  border: 2px solid black;
  border-radius: 5px;
}

.App-input{
  flex: 1;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.App-input-container{
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}

.App-button{
  background-color: lightgreen;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
